@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Poppins:wght@100;200;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
     background: rgb(22, 22, 22);
    background-attachment: fixed;
    
}
.logo{
    background-color: #0e0d0d79;
}
.logo h1{
    color: red;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    padding:10px 0 0 36px ;
}
.what-h{
    color:white ;
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 26px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    margin:50px 0;
}
.imagens{
    display: flex;
    cursor: pointer;
    margin: auto; 
}
.imagens-five{
    display: flex;
    margin: auto;
}
.imagens-hover:hover{
    color: white;
    position: relative;
    bottom: 10px;
    transition: all 1s;
}
.imagens-five img{
    width: 120px;
    height: 120px;
    border: 1px solid rgba(255, 255, 255, 0.342); 
    margin: 15px 22px;
}

.imagens-five p{
    color:#b6a483;
    display: block;
    text-align: center;
    font-size: 20px;
}
.imagens-five p:hover{
    color: white; 
}
.btn-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    display: block;
    justify-content: center;
    margin-top: 70px;
    padding: 10px 35px;
    font-size: 18px;
    background-color: transparent;
    color: #b6a483;
    border: none;
    border:  1px solid #b6a483;
    cursor: pointer;
}
.btn:hover{
    border:  1px solid white;
    color: white;
    position: relative;
    left: 10px;
}

